<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragment::head"></head>
<body>
<header th:replace="fragments/fragment::navbar"></header>
<main class="my-main">
    <div class="container">
        <h2 class="text-center text-white">Search for Client</h2>
        <form
                th:action="@{/clients/search}"
                th:object="${clientViewModel}"
                method="POST"
                class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="firstName" class="text-white font-weight-bold">First Name</label>
                    <input name="firstName"
                           th:value="*{firstName}"
                           id="firstName" type="text" class="form-control"
                           placeholder="First Name"/>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="secondName" class="text-white font-weight-bold">Second Name</label>
                    <input name="secondName"
                           th:value="*{secondName}"
                           id="secondName" type="text" class="form-control"
                           placeholder="Second Name"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="telephone" class="text-white font-weight-bold">Telephone number</label>
                    <input name="telephone"
                           th:value="*{telephone}"
                           id="telephone" type="text" class="form-control"
                           placeholder="telephone"/>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-secondary" value="Search"/>
                    </div>
                </div>
            </div>
        </form>
        <!--        searchBar-->
        <div class="container d-flex flex-column justify-content-center">
            <div class="m-5 col-sm-8 my-auto align-self-center">
                <input id="searchInput" class="form-control mr-sm-2 w-50" type="search"
                       placeholder="Enter phone or First name for fast search" aria-label="Search">
            </div>
        </div>
        <!--        searchBar-->
        <div class="row">
            <div class="row container" id="clientList">
<!--                client view-->
                <table class="table text-white">
                    <thead>
                    <tr class="my-main text-white">
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Telephone number</th>
                    </tr>
                    </thead>
                    <tbody class="text-white">
                    <tr class="my-main text-white">
                        <td class="text-white"></td>
                        <td class="text-white"></td>
                        <td class="text-white"></td>
                    </tr>
                    </tbody>
                </table>
<!--                client view-->
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/fragment::footer"></footer>
<script th:src="@{js/search-bar.js}"></script>
</body>
</html>