<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/fragment::head"></head>

<body>
<header th:replace="fragments/fragment::navbar"></header>
<main class="my-main">
    <div class="container-fluid text-center">
        <h3 class="center text-warning">
            Oooo something went wrong!
        </h3>
        <img src="/images/error.png" width="400" alt="error">
        <h3 class="center text-warning"> Please contact an administrator!</h3>
    </div>
</main>
<footer th:replace="/fragments/fragment::footer"></footer>
</body>
</html>
