<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:replace="/fragments/fragment::head"></head>
<body>
<header th:replace="fragments/fragment::navbar"></header>
<main class="my-main">
    <div class="container">
        <h3 class="text-center text-white">Parts</h3>
    </div>
    <!--    <div th:if="${notFound}" class="text-white">-->
    <!--        <h3 class="text-center text-white mt-5">client not found</h3>-->
    <!--    </div>-->

    <table class="table text-white">
        <thead>
        <tr class="my-main text-white mt-auto">
            <th scope="col">#</th>
            <th scope="col">manufacturer</th>
            <th scope="col">name</th>
            <th th:unless="${notOEN}" scope="col">part number</th>
            <th th:unless="${notOEN}" scope="col">part OE number</th>
            <th scope="col">price lv</th>
            <th scope="col">action</th>
        </tr>
        </thead>

        <tbody class="text-white mt-auto">
        <h3 class="text-warning text-center" th:if="${emptyFeeds}">Please input some data</h3>
        <tr th:each="cl, iter: ${parts}" th:object="${cl}">
            <th th:text="${iter.index} +1" scope="row">1</th>
            <td th:text="${cl.manufacturer.manufacturerName}"></td>
            <td th:text="${cl.name}"></td>
            <td th:unless="${notOEN}" th:text="${cl.partNumber}"></td>
            <td th:unless="${notOEN}" th:text="${cl.partOeNumber}"></td>
            <td th:text="${cl.priceOut}"></td>
            <td>
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="ml-3 text-warning text-center"
                   th:href="@{/parts/edit/{id}(id=*{id})}">edit</a>
                <!--                        <a class="ml-3 text-warning text-center" th:href="@{/parts/view/{id}(id=*{id})}">View</a>-->
            </td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{/parts/search}">
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex rounded-bottom">
                    <input type="submit" class="btn btn-secondary" value="new search"/>
                </div>
            </div>
        </div>
    </form>

</main>
<footer th:replace="/fragments/fragment::footer"></footer>
</body>
</html>